.body{
  background-image: url(feel.jpg) ;
  background-repeat: no-repeat;
  background-size:cover;}
.navbar1{
  margin: 45px;
  border: 1px solid white;
  border-radius: 100px;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width:auto;
  background-color: rgba(128, 128, 128, 0.5);

  /* background-image: url(t.jpg) ;
  background-repeat: no-repeat;
  background-size:cover; */
}
.navbar1 a,.navbar2 a,.navbar3 a,.navbar4 a{
  text-decoration: none;
  color: white;
}
.navbar2{
  margin: 45px;
  border: 1px solid white;
  border-radius: 100px;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width:auto;
  background-color: rgba(128, 128, 128, 0.5);

  /* background-image: url(images.jpg) ;
  background-repeat: no-repeat;
  background-size:cover; */
}
.navbar3{
  margin: 45px;
  border: 1px solid white;
  border-radius: 100px;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width:auto;
  background-color: rgba(128, 128, 128, 0.5);

  /* background-image: url(fee.jpg) ;
  background-repeat: no-repeat;
  background-size:cover; */
  }
.navbar4{
  margin: 45px;
  border: 1px solid white;
  border-radius: 100px;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width:auto;
  background-color: rgba(128, 128, 128, 0.5);
  /* background-image: url(fee.jpg) ;
  background-repeat: no-repeat;
  background-size:cover; */
}
